* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.task-manager {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 25px;
  border-radius: 20px;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.task-input {
  padding: 8px 8px;
}

.task-adder-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.add-task {
  padding: 5px 10px;
}
